/* --- Cormorant --- */
@font-face {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Cormorant/Cormorant-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Cormorant/Cormorant-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Cormorant/Cormorant-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Cormorant/Cormorant-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Cormorant/Cormorant-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Cormorant/Cormorant-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Cormorant/Cormorant-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Cormorant/Cormorant-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Cormorant/Cormorant-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Cormorant/Cormorant-Bold.ttf") format("truetype");
}

/* --- Cormorant Infant --- */
@font-face {
  font-family: "Cormorant Infant";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/CormorantInfant/CormorantInfant-LightItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Cormorant Infant";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/CormorantInfant/CormorantInfant-Italic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Cormorant Infant";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/CormorantInfant/CormorantInfant-MediumItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Cormorant Infant";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/CormorantInfant/CormorantInfant-SemiBoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Cormorant Infant";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/CormorantInfant/CormorantInfant-BoldItalic.ttf")
    format("truetype");
}
@font-face {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/CormorantInfant/CormorantInfant-Light.ttf")
    format("truetype");
}
@font-face {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/CormorantInfant/CormorantInfant-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/CormorantInfant/CormorantInfant-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/CormorantInfant/CormorantInfant-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Cormorant Infant";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/CormorantInfant/CormorantInfant-Bold.ttf")
    format("truetype");
}

/* --- PT Sans --- */
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/PTSans/PTSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/PTSans/PTSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/PTSans/PTSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/PTSans/PTSans-Bold.ttf") format("truetype");
}
