@use "sass:list";
@use "sass:string";

@function remove-spaces($string) {
  $index: string.index($string, " ");

  @if $index {
    @return string.slice($string, 1, $index - 1) +
      remove-spaces(string.slice($string, $index + 1));
  }

  @return $string;
}

$fonts-config: (
  "Cormorant": (
    ("LightItalic", 300, "italic"),
    ("Italic", 400, "italic"),
    ("MediumItalic", 500, "italic"),
    ("SemiBoldItalic", 600, "italic"),
    ("BoldItalic", 700, "italic"),
    ("Light", 300, "normal"),
    ("Regular", 400, "normal"),
    ("Medium", 500, "normal"),
    ("SemiBold", 600, "normal"),
    ("Bold", 700, "normal"),
  ),
  "Cormorant Infant": (
    ("LightItalic", 300, "italic"),
    ("Italic", 400, "italic"),
    ("MediumItalic", 500, "italic"),
    ("SemiBoldItalic", 600, "italic"),
    ("BoldItalic", 700, "italic"),
    ("Light", 300, "normal"),
    ("Regular", 400, "normal"),
    ("Medium", 500, "normal"),
    ("SemiBold", 600, "normal"),
    ("Bold", 700, "normal"),
  ),
  "PT Sans": (
    ("Italic", 400, "italic"),
    ("BoldItalic", 700, "italic"),
    ("Regular", 400, "normal"),
    ("Bold", 700, "normal"),
  ),
);

@each $family-name, $variants in $fonts-config {
  $family-path: remove-spaces($family-name);

  @each $variant in $variants {
    $variant-name: list.nth($variant, 1);
    $variant-weight: list.nth($variant, 2);
    $variant-style: list.nth($variant, 3);

    $file-path: "../fonts/#{$family-path}/#{$family-path}-#{$variant-name}.ttf";

    @font-face {
      font-family: "#{$family-name}";
      font-style: $variant-style;
      font-weight: $variant-weight;
      font-display: swap;
      src: url($file-path) format("truetype");
    }
  }
}
