@use "@/assets/scss/variables" as *;
@use "@/assets/scss/mixins" as *;

.footer {
  position: relative;
  min-height: 300px;
  color: $color-white;
  margin-top: 130px;

  &__background {
    @include wide-section(full, full);
    @include section-bg;
    background: $color-dark;
  }
}
