@use "@/assets/scss/variables" as *;
@use "@/assets/scss/mixins" as *;

.section-examples {
  position: relative;
  margin-top: 130px;

  &__background {
    @include wide-section(half, full);
    @include section-bg;
    background-color: $color-primary;
  }
}
